main {
    overflow-x: auto;
}
main table#list {
    white-space: nowrap;
}
main table#list thead a {
    color: currentColor;
    text-decoration: none;
    pointer-events: none;
}
main table#list thead th a:nth-child(2) {
    display: none;
}
main table#list td:nth-child(1) {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-weight: 700;
}

/* fancy.js will add `tzlocal` class after localizing dates */
main table#list thead th:nth-child(3)::after {
    content: ' (UTC)';
}
main table#list.tzlocal thead th:nth-child(3)::after {
    content: '';
}

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 568px) {
    main table tr :nth-child(2) {
        display: none;
    }
}
@media print {
}
